@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

* {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
