
<footer class="footer">
    <div class="container block-footer">
        <div class="block-1">
            <a href="#"><img src="../images/logo-footer.svg" class="img-fluid" alt=""></a>
            <p>Кредиты и рассрочка  0% от банков:</p>
            <ul class="list-bank d-flex">
                <li class="item-bank">
                    <a href="#"  class="bank-alfa block-item-brand"><img src="../images/bank-alfa.png" class="img-fluid" alt="photo-bank"></a>
                </li>
                <li class="item-bank">
                    <a href="#"  class="block-item-brand bank-privat"><img src="../images/bank-privat-1.svg" class=" img-fluid" alt="photo-bank"></a>
                </li>
                <li class="item-bank">
                    <a href="#"  class="block-item-brand bank-mono"><img src="../images/bank-mono-1.svg" class=" img-fluid" alt="photo-bank"></a>
                </li>

            </ul>
        </div>
        <div class="block-2">
            <span class="title-footer">Компания </span>
            <ul class="menu-footer">
                <li><a href="#"> Главная</a></li>
                <li><a href="#">О Нас</a></li>
                <li><a href="#">Служба поддержки</a></li>
                <li><a href="#">Частые вопросы</a></li>
                <li><a href="#">Правила и условия</a></li>
                <li><a href="#" class="d-none d-md-block">Политика конфиденциальности</a></li>
            </ul>
        </div>
        <div class="block-3">
            <span class="title-footer">Свяжитесь с нами </span>
            <ul class="info">
                <li><span class="icon-location"></span>г. Киев  ул. Коллекторная д. 3</li>
                <li><span class="icon-call"></span>( 067 ) 818 - 00 - 51</li>
                <li><span class="icon-email"></span>zakaz.windowsgroup@gmail.com</li>
                <li><span class="clock-footer"></span>Пн.–Пт.: 8:00 – 18:00<br/> Сб. - Вс: ВЫХОДНОЙ</li>

            </ul>
            <div class="d-md-flex top-icon-footer">
                <div>
                    <span class="title-footer-bottom">Всегда на связи</span>
                    <ul class="list-contact">
                        <li><a href="#" class="viber"></a></li>
                        <li><a href="#" class="telegram"></a></li>
                        <li><a href="#" class="skype"></a></li>
                        <li><a href="#" class="whatsapp"></a></li>
                    </ul>
                </div>
                <div class="block-soc">
                    <span class="title-footer-bottom">Мы в соц. сетях</span>
                    <ul class="list-soc">
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="instagram"></a></li>
                        <li><a href="#" class="google-plus"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <p class="container bottom-footer"> <span>© 1999-2020 Windowsgroup.com.ua </span>   <span class="pl-lg-2">Все права защищены</span></p>
</footer>
