@import "reset";
@import "variable";
@import "~bootstrap";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "mixin";
@import "icon";
@import "font";
@import "style-header";
@import "style-footer";
@import "chackbox";
@import "~@fancyapps/ui/dist/fancybox.css";
@import "style-modal";
@import "style-slider";
@import "style-catalog";
@import "style-post";
@import "style-product";
@import "style-page-contact";
@import "style-price";
@import "icon-welcome";

body{
  font-family: 'Comfortaa', sans-serif;
  font-size: 10px;
  line-height: 140%;
  font-weight: 400;
  @include media-breakpoint-up (md){
    font-size: 12px;
  }
  @include media-breakpoint-up (lg){
    font-size: 15px;
  }
}
.breadcrumb-margin-top{
  margin-top: 50px;
  @include media-breakpoint-up (md){
    margin-top: 0;
  }
}
.pagination{
  font-size: 11px;
  font-weight: 700;
  .page-link{
    color: #B2B2B2;
    font-family: 'Bitter', sans-serif;
    border: none;
  }
  .page-link.active{
    color: #000;
  }
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
}
.custom-button.background-white{
  background-color: #fff;
  border: 1px solid #FFD971;;
}
.custom-button.background-transporent{
  background-color: transparent;
  border: 1px solid #FFD971;;
}
.group-button{
  @include media-breakpoint-up (md) {
    display: grid;
    grid-template-columns: 44%  44%;
    grid-gap: 20px;
    .btn{
      width: 100%;
    }
  }
}
.color-FD5F01{
  color: #FD5F01;
}
.old-price{
  text-decoration: line-through;
}
.section-post{
  @include media-breakpoint-up (lg) {
    font-size: 15px;
    line-height: 25px;
  }
}

.form-control{
  background-color: #fff;
  border-radius: 0;
  border-color: transparent;
  height: 34px;
  &::placeholder{
    font-size: 11px;
    color: #303030;
  }
  &.select{
    font-size: 12px;
  }
  @include media-breakpoint-up (lg){
    height: 42px;
    &::placeholder{
      font-size: 14px;
    }
   &.select{
      font-size: 14px;
    }
  }
}

select.form-control{
  font-size: 11px;
  color: #303030;
  @include media-breakpoint-up (lg) {
    font-size: 14px;
  }
}
.wrapper-select{
  background-color: #fff;
  #inputState{
    width: 95%;
    &.select-custom{
      option{
        height: 42px;
      }
    }
  }
}
.form-control:focus {
  color: #495057;
  background-color: #FFF;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.icon-width{
  .form-control{
    padding-left: 25px;
    @include media-breakpoint-up (lg) {
      padding-left: 45px;
    }
  }
}

.icon-height{
  .form-control{
    padding-left: 20px;
    @include media-breakpoint-up (lg) {
      padding-left: 35px;
    }
  }
}
.custom-button{
  background-color: #FFD971;
  font-size: 11px;
  font-weight: 700;
  color: #303030;
  padding: 7px 40px;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
  @include media-breakpoint-up (md){
    padding: 9px 30px;
    font-size: 12px;
  }
  @include media-breakpoint-up (lg){
    padding: 9px 50px;
    font-size: 14px;
  }
  &:hover{
  background-color: #EB9712;
    color: #fff;
  }
}
.fw-700{
  font-weight: 700;
}
a{
  color: #000;
  &:hover{
    color: #000;
  }
}
ul{
  margin-bottom: 0;
}
section{
  padding: 30px 0;
  @include media-breakpoint-up (lg){
    padding: 50px 0;
  }
  //@include media-breakpoint-up (xxl){
  //  padding: 60px 0;
  //}
}
.title-section{
  font-family: 'Bitter', serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  color: #303030;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  @include media-breakpoint-up (lg){
    font-size: 25px;
    margin-bottom: 30px;
  }
  @include media-breakpoint-up (xxl){
    margin-bottom: 40px;
    font-size: 30px;
  }
}
.section-reviews{
  background-color: #F5F3F3FF;
}
.section-welcome{
  background-image: url("../images/bg-welcome.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 540px;
  margin-bottom: 80px;
  position: relative;
  padding: 0;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(#FFF,0.6) 0, rgba(#FFF,0.6) 50%, transparent 50%, transparent 100%) ;
  }
  &.page-main{
    min-height: 500px;
    margin-bottom: 50px;
    //background-position-y: -30px;
    .left-block-welcome{
      padding-top: 70px;
    }
    .block-welcome-info{
      display: flex;
      margin-bottom: -80px;
    }
    .list-card-welcome{
      max-width: 300px;
    }
  }
  .left-block-welcome{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    //margin-top: 35px;
    font-size: 12px;
    line-height: 150%;
    span{
      display: block;
    }
  }
  .title-welcome{
    font-size: 23px;
    line-height: 130%;
    font-family: 'Bitter', serif;
    display: block;
    padding: 0 24px;
    margin-bottom: 12px;
  }
  .custom-button{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-up (md){
    font-size: 16px;
    background-position: bottom;
    .title-welcome {
      padding: 0;
    }
    &.page-main{
      //min-height: 500px;
      .left-block-welcome{
        //padding-top: 70px;
      }
      .block-welcome-info{
        //display: flex;
        margin-bottom: 0;
      }
      .list-card-welcome{
        max-width: 400px;
      }
    }
  }
  @include media-breakpoint-up (xxl){
    .title-welcome {
      font-size: 47px;
      line-height: 60px;
    }
  }
  @include media-breakpoint-up (lg){
    margin-bottom: 80px;
    min-height: 425px;
    &:before{
      background: linear-gradient(to right, rgba(#FFF,0.8) 0, rgba(#FFF,0.8) 50%, transparent 50%, transparent 100%) ;
    }
    &.page-main{
      min-height: 425px;
      margin-bottom: 80px;
      .list-card-welcome {
        margin-bottom: -115px;
        max-width: 100%;
      }
      .block-welcome-info{
        padding-top: 90px;
      }
    }
    .title-welcome {
      font-size: 40px;
      line-height: 45px;
      padding: 0;
    }
    .custom-button {
      margin: 20px 0;
    }
    .left-block-welcome {
      font-size: 16px;
      line-height: 25px;
      width: 48%;
      margin-right: auto;
      text-align: left;
      min-height: 300px;
    }
  }
}
.list-card-welcome{
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: -80px;
  .card-welcome{
    background-color: #fff;
    background-image: url("../images/decor-card-welcome.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 13px 9px;
    font-size: 8px;
    line-height: 180%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    .icon{
      margin-right: 12px;
    }
    p{
      margin-bottom: 0;
    }
    .title{
      font-size: 12px;
      line-height: 150%;
      font-family: 'Bitter', serif;
      display: block;
      margin-right: 65px;
    }
  }

  @include media-breakpoint-up (md){
    .card-welcome{
      font-size: 11px;
      padding: 20px 10px;
      .title{
        font-size: 16px;
      }
    }
  }
  @include media-breakpoint-up (lg){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: -135px;
    max-width: 100%;
    .card-welcome{
      margin-bottom: 0;
      font-size: 11px;
      line-height: 18px;
      .title{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
        //margin-right: 65px;
      }
    }
  }
}
.section-catalog{
  .card-item-catalog{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-image: url("../images/decor-item-catalog.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 35px 20px 20px;
    color: #303030;
    text-align: center;
    position: relative;
    border-bottom: 2px solid #EB9712;
    margin-bottom: 30px;
  }
  .percent-sale{
    position: absolute;
    background-color: #FD5F01;
    width: 56px;
    height: 28px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  span{
    display: block;
  }
  .title{
    font-size: 16px;
    margin: 12px auto 0;
    font-family: 'Bitter', sans-serif;
    line-height: 120%;
    min-height: 27px;
    //min-height: 35px;
  }
  .title-small{
    font-size: 14px;
    font-family: 'Bitter', sans-serif;
  }
  .info-price{
    color: #B2B2B2;
    margin: 0 0 10px;
  }
  .text-item-catalog{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &.text-col-3{
      -webkit-line-clamp: 3;
    }
  }
  .block-price{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .name{
    color: #B2B2B2;
  }
  .block-sum{
    font-family: 'Bitter', sans-serif;
    display: flex;
    align-items: baseline;
  }
  .sum{
    font-size: 22px;
    font-weight: 700;
    padding: 0 6px;
  }
  .btn-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 15px;
    .custom-button{
      padding: 7px  0;
      width: 100%;
      //&.background-white:hover{
      //  color: #EB9712;
      //}
    }
  }
  @include media-breakpoint-up (md){
    .list-item-catalog{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .title{
      //min-height: 40px;
    }
  }
  @include media-breakpoint-up (lg){
    .card-item-catalog{
      padding-top: 42px;
    }
    .wrapper-img{
      width: 250px;
      height: 250px;
      &.big{
        width: 360px;
        height: 250px;
      }
    }
    .title{
      font-size: 20px;
      //min-height: 49px;
    }
    .title-small{
      font-size: 16px;
    }
    .list-item-catalog{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
    }
    .percent-sale {
      width: 73px;
      height: 36px;
      font-size: 14px;
    }
    .block-sum{
      font-size: 22px;
    }
    .sum{
      font-size: 34px;
      font-weight: bold;
    }
    .info-price{
      font-size: 11px;
    }
    .text-item-catalog{
      font-size: 13px;
    }
    .name{
      font-size: 11px;
    }
  }
}
.section-info-orders{
  background-color: #E8E4E3;
  color: #303030;
  .list-info-orders li{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    line-height: 150%;
  }
  .number-info{
    font-size: 40px;
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 15px;
    &:hover{
      color: rgba(255, 255, 255, 1);
    }
  }
  .img-info-orders.page-vertical-zhalyuzi{
      &:before{
        background-image: url("../images/vertical-zhalyuzi.png");
        content: '';
        background-repeat: no-repeat;
        background-size: 100%;
        width: 280px;
        height: 240px;
        display: block;
        margin: 0 auto;
    }
  }
  .img-info-orders.page-plisse{
    &:before{
      background-image: url("../images/plisse.png");
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      width: 280px;
      height: 240px;
      display: block;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-up (md){
    .wrapper-info-orders{
      max-width: 400px;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-up (lg){
    .wrapper-info-orders{
      display: flex;
      align-items: center;
      margin: 0 ;
      max-width: 100%;
    }
    .img-info-orders{
      &:before{
        content: '';
        background-image: url("../images/img-info-orders-1.png");
        background-repeat: no-repeat;
        background-size: 100%;
        //width: 300px;
        //height: 200px;
        display: block;
      }
      &.page-vertical-zhalyuzi{
        &:before{
          background-image: url("../images/vertical-zhalyuzi.png");
          content: '';
          background-repeat: no-repeat;
          background-size: 100%;
          width: 500px;
          height: 420px;
          display: block;
        }
      }
      &.page-plisse{
        &:before{
          width: 500px;
          height: 400px;
        }
      }
    }
  }
  @include media-breakpoint-up (lg){
    .list-info-orders{
      margin-left: 10px;
      margin-top: 14px;
      li{
        margin-bottom: 16px;
      }
    }
    .img-info-orders{
      padding-right: 10px;
      &:before{
        width: 323px;
        height: 330px;
      }
    }
    .number-info{
      font-size: 50px;
      margin-right: 17px;
    }
    .wrapper-info-orders {
      display: flex;
      justify-content: space-between;
      align-items: self-start;
    }
  }
  @include media-breakpoint-up (xl) {
    .img-info-orders:before {
      width: 575px;
    }
  }
}
.section-idea{
  padding: 30px 10px;
  &.page-blog.interior{
    padding: 0;
    padding-bottom: 20px;
    background-image: none;
    .title-section{
      margin-bottom: 0;
    }
    .pagination{
      justify-content: center;
      margin: 20px 0;
    }
    .card-post{
      margin-bottom: 30px;
    }
    @include media-breakpoint-up (md){
      .pagination{
        justify-content: flex-end;
      }
    }
  }
  .card-post{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin: 5px 13px;
  }
  .title-section {
    margin-bottom: 40px;
  }
  .block-img{
    width: 116px;
    min-width: 116px;
    height: 194px;
    img{
      object-fit: cover;
      height: 194px;
      width: 100%;
    }
    &.interior{
      width: 100%;
      min-width: 100%;
      height: auto;
      img{
        object-fit: cover;
        height: 200px;
        width: 100%;
      }
    }
  }
  .title-post{
    font-size: 16px;
    line-height: 150%;
    font-family: 'Bitter', sans-serif;
    padding: 20px 0;
    display: block;
    text-align: center;
    min-height: 68px;
  }
  .post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
    p{
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .title-post{
      display: none;
    }
  }
  .more{
    display: block;
    color: #EB9712;
    font-weight: 700;
    cursor: pointer;
  }
  .wrapper-post{
    display: flex;

    &.interior{
      flex-direction: column;
      .post {
        p {
          -webkit-line-clamp: 4;
        }
        .title-post{
          display: block;
          text-align: left;
        }
      }
    }
  }
  .custom-button{
    margin:  45px auto 0;
  }
  @include media-breakpoint-up (xs){
    .card-post{
      max-width: 290px;
      margin: 5px auto;
    }

  }
  @include media-breakpoint-up (md){
    .slider-interior-post{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  @include media-breakpoint-up (lg){
    padding: 70px 0;
    .slider-interior-post{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-post{
      max-width: 530px;
      margin: 0 auto;
      background-color: #fff;
      &.interior{
        margin: 7px;
      }
    }
    .post{
      .title-post{
        display: block;
        text-align: left;
        margin-right: 34px;
      }
    }
    .block-img{
      width: 240px;
      min-width: 240px;
      height: 360px;
      img{
        height: 360px;
        //width: 240px;
      }
    }
    .post{
      font-size: 13px;
      line-height: 150%;
      justify-content: space-around;
    }
  }
  @include media-breakpoint-up (xl){
    .slider-interior{
      width: 80%;
    }
    &.interior{
      background-image: url("../images/bg-interior.jpg");
      background-repeat: no-repeat;
      background-size: 52%;
      background-position-x: 130%;
      background-position-y: center;
    }
  }
}
.section-form{
  content: '';
  background-image: url("../images/bg-form-orders-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  .custom-button{
    width: 100%;
    margin-bottom: 18px;
  }
  .img-form-girl{
    content: '';
    background-image: url("../images/img-girl.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    display: block;
    width: 300px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: -35px;
  }
  .icon-height{
    input::placeholder{
      //padding-left: 8px;
    }
  }
  .icon-width {
    input::placeholder {
      //padding-left: 10px;
    }
  }
  @include media-breakpoint-up (md){
    content: none;
    background-image: none;
    .wrapper-form{
      content: '';
      background-image: url("../images/bg-form-orders-mob.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      padding-top: 20px;
      .block-form{
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .img-form-girl{
      width: 340px;
      height: 292px;
      margin-bottom: -35px;
      margin-top: -35px;
      margin-left: 15px;
    }
  }
  @include media-breakpoint-up (lg){
    .img-form-girl {
      height: 325px;
    }
  }
  @include media-breakpoint-up (xl){
    .title-section{
      text-align: left;
      font-size: 30px;
    }
    .wrapper-form{
      padding-top: 50px;
    }
    .img-form-girl{
      background-size: contain;
      width: 555px;
      height: 510px;
      margin: -120px 0 -80px ;
      display: block;
      margin-left: auto;
      object-fit: inherit;
      text-align: center;
    }
    .form-ordering{
      width: 510px;
    }
  }
}
.section-portfolio{
  .custom-button{
    margin: 40px auto 10px;
    text-align: center;
  }
  .title-portfolio{
    font-size: 12px;
    line-height: 130%;
  }
  .block-portfolio-hover{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 140%;
    .price-portfolio{
      display: none;
    }
    .wrapper-hover{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
    }
  }
  .block-portfolio{
    position: relative;
    cursor: pointer;
    z-index: 10;
    //width: 100%;
    //height: 100%;
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    &:hover{
      .block-portfolio-hover{
        display: block;
      }
    }
  }
  .list-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  @include media-breakpoint-up (md){
    .list-portfolio {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .title-portfolio{
      font-size: 15px;
    }
    .price-portfolio{
      font-size: 10px;
    }
  }
  @include media-breakpoint-up (lg){
    .block-portfolio-hover .wrapper-hover{
      justify-content: space-between;
      height: 50%;
      margin-top: 40%;
    }
    img{
      object-fit: cover;
      width: 100%;
      //min-height: 250px;
    }
    .block-portfolio-hover{
      .price-portfolio{
        display: block;
      }
    }
    .list-portfolio {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  @include media-breakpoint-up (xl){
    .title-portfolio{
      font-size: 20px;
    }
    .price-portfolio{
      font-size: 12px;
    }
  }
  @include media-breakpoint-up (xxl){
    .block-portfolio-hover .wrapper-hover {
      margin-top: 30%;
    }
    img{
      margin: 0 5px;
      //min-height: 300px;
    }
  }
}
.section-questions{
  background-image: url("../images/bg-questions.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
  background-color: #F5F5F5;
  &.questions-2{
    background-image: none;
  }
  .accordion{
    font-size: 10px;
    margin-top: 15px;
    .btn-block{
      color: #EB9712;
      text-decoration: none;
      display: flex;
      font-size: 10px;
      line-height: 150%;
      font-weight: 700;
      align-items: center;
      &.collapsed{
        color: #303030;
      }
      &.checkmark-orange{
        color: #FD5F01;
      }
    }
    .text-questions{
      margin-left: 75px;
      line-height: 170%;
      margin-top: -10px;
      padding-top: 10px;
    }
  }
  @include media-breakpoint-up (md){
    background-size: 200%;
    .accordion {
      width: 70%;
      font-size: 12px;
      .btn-block {
        font-size: 14px;
      }
    }
  }
  @include media-breakpoint-up (xl){
    background-position-x: right;
    background-size: cover;
    .title-section{
      font-size: 28px;
      margin-bottom: 40px;
      text-align: left;
      margin-left: 35px;
    }
    &.questions-2{
      background-position-x: center;
      background-image: none;
      .title-section{
        text-align: center;
        margin-left: 0;
      }
    }
    .section-portfolio{
      width: 60%;
    }
    .accordion {
      font-size: 13px;
      width: 40%;
      margin-left: 25px;
      margin-top: 0;
      .wrapper-text-questions{
        max-height: 125px;
        margin-bottom: 10px;
        &.show{
          overflow: auto;
        }
      }
      .text-questions{
        margin-bottom: 0px;
      }
      .btn-block{
        font-size: 15px;
      }
    }
  }
}
.section-form-order{
  text-align: center;
  &.page{
    padding-bottom: 0;
  }
  p{
    margin-bottom: 0;
  }
  .img-form-mob{
    &:before{
      content: '';
      background-image: url("../images/img-form-order-mob.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 350px;
      width: 300px;
      display: block;
      //margin: 0 auto;
      //margin-bottom: -250px;
      z-index: 10;
      top: -98px;
      position: absolute;
    }
  }
  .wrapper-form{
    background-image: url("../images/bg-form-orders-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 79px;
    .form-control{
      margin-bottom: 17px;
    }
    textarea{
      min-height: 90px;
    }
    .custom-button{
      margin-bottom: 17px;
      width: 100%;
      //font-size: 11px;
      line-height: 130%;
    }
    .form-check-custom{
      text-align: left;
      padding-left: 0;
    }
  }
  @include media-breakpoint-up (md){
    p{
      margin-bottom: 30px;
    }
    .wrapper-form{
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      position: relative;
      padding-top: 34px;
      margin-top: 0;
    }
    .background-form{
      background-image: url("../images/bg-form.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-position-x: center;
    }
    .form-order{
      background-image: none;
      padding-top: 0;
      max-width: 450px;
      margin-left: auto;
    }
    .img-form-mob:before {
      height: 313px;
      width: 270px;
      margin-bottom: 0;
      position: absolute;
      top: 38px;
      left: 0;
    }
    .form-check-custom{
      font-size: 12px;
    }
  }
  @include media-breakpoint-up (lg){
    padding-bottom: 10px;
    .img-form-mob:before {
      height: 415px;
      width: 500px;
      left: 20px;
      top: -46px;
    }
    .title-section{
      font-size: 30px;
      margin-bottom: 20px;
    }
    .form-order{
      width: 455px;
    }
  }
  @include media-breakpoint-up (xl){
    p{
      margin-left: auto;
      width: 68%;
      text-align: left;
      margin-bottom: 30px;
    }
    .img-form-mob:before {
      height: 515px;
      width: 600px;
      left: 60px;
      top: -145px;
    }
  }
}
.section-reviews{
  &.page-blog{
    background-color: #fff;
    padding-bottom: 0;
    padding-top: 30px;
    .wrapper-reviews {
      grid-gap: 5px;
    }
    .list-rating .item-rating {
      margin: 4px 0;
    }
  }
  .list-rating{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    .item-rating{
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      text-align: center;
      padding: 20px 15px;
      min-height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 4px 0;
    }
    .sum-rating{
      color: #B2B2B2;
      margin-top: 10px;
      display: block;
      font-size: 12px;
    }
    .stars-rating{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .block-stars{
      display: flex;
    }
  }
  .wrapper-reviews.reviews-internet{
    display: block;
    position: relative;
    .block-top{
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 5px;
      padding-left: 15px;
    }
    .text-review{
      padding-left: 15px;
      line-height: 160%;
      -webkit-line-clamp: inherit;
      overflow: inherit;
      font-size: 11px;
    }
    .name-user{
      font-size: 16px;
      font-family: sans-serif;
      color: #DC6C29;
      font-weight: 700;
      margin-left: 15px;
    }
    .name{
      font-size: 14px;
    }
    .data-review{
      margin-left: 15px;
    }
    .total-reviews{
      .total{
        font-family: 'Bitter', serif;
      }
    }
    .wrapper-photo-user{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
    .slider-number-item {
      top: -20px;
    }
    .slider-reviews-internet{
      margin-top: 40px;
    }
    .slider-reviews-wrapper{
      .item-review{
        text-align: left;
        font-size: 11px;
        line-height: 150%;
        margin: 0 5px;
        box-shadow: none;
      }
    }
    @include media-breakpoint-up(md) {
      .slider-number-item {
        right: 20%;
      }
    }
    @include media-breakpoint-up(lg) {
      .slider-number-item {
        top: -68px;
        right: 10%;
      }
      .text-review {
        line-height: 140%;
        font-size: 12px;
      }
      .data-review{
        margin-top: 7px;
      }
      .item-review {
        font-size: 12px;
        line-height: 140%;
      }
      .total{
        font-size: 13px;
      }
    }
    @include media-breakpoint-up(xl) {
      .slick-prev,
      .slick-next {
        top: -52px;
      }
    }
  }
  .item-review{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    padding: 20px 15px;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .custom-button{
    font-size: 13px;
    padding: 5px 10px;
  }
  .item-review{
    padding: 35px 25px;
    margin: 20px 1px;
    .icon-google::before{
      margin: 0;
      margin-left: auto;
      width: 80px;
      min-width: 80px;
      height: 25px;
      min-height: 25px;
    }
    .icon-facebook-rating::before{
      margin: 0;
      margin-left: auto;
      width: 83px;
      min-width: 83px;
      height: 36px;
      min-height: 36px;
    }
    .name-user{
      font-size: 13px;
      font-weight: 700;
      text-align: left;
      display: block;
      margin-bottom: 7px;
    }
    .data-review{
      font-size: 12px;
      color: #B2B2B2 ;
      text-align: left;
      display: block;
      margin-bottom: 7px;
    }
  }
  .text-review{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 11px;
    text-align: left;
  }
  @include media-breakpoint-up (md){
    .slider-list-reviews {
      .item-review{
        margin: 10px 5px;
      }
    }
    .text-review{
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up (xl){
    .wrapper-reviews{
      display: grid;
      grid-template-columns: 33% 67%;
      grid-gap: 10px;
    }
    .slider-reviews-wrapper {
      width: 100%;
    }
    .slider-list-reviews .item-review {
      margin: 4px 5px;
      //margin: 4px;
    }
    .custom-button{
      padding: 5px 25px;
    }
  }
}
.breadcrumb {
  background-color: transparent;
  font-size: 10px;
  line-height: 165%;
  margin-bottom: 0;
  padding: 0;
  padding-top: 20px;
  a{
    color: #303030;
  }
  .breadcrumb-item.active {
    color: #303030;
  }
  @include media-breakpoint-up (md){
    font-size: 14px;
  }
}

.block-info-product{
  .list-block-info-product{
    .orange{
      color: #EB9712;
    }
    .item-block-info-product{
      margin-bottom: 20px;
      background-color: #fff;
      background-image: url(http://localhost:3000/images/decor-card-welcome.8e8dde51.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
      padding: 10px 15px;
      min-height: 80px;
      border-left: 2px solid #EB9712;
      font-size: 13px;
      .custom-number{
        font-weight: 700;
        font-size: 25px;
        font-family: 'Bitter', sans-serif;
      }
      .info-text {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: column;
        padding-top: 5px;
        .title{
          margin-right: auto;
          padding-bottom: 5px;
        }
      }
      @include media-breakpoint-up (md){
        margin-bottom: 10px;
        padding: 10px 10px;
        min-height: 65px;
      }
      @include media-breakpoint-up (lg){
        margin-bottom: 20px;
        padding: 10px 15px;
        min-height: 80px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .section-form-order .img-form-mob:before {
    left: 200px;
  }
  .section-idea.interior{
    background-size: 38%;
    background-position-x: 101%;
  }
  .section-form-order p {
    width: 60%;
  }
}
@media (min-width: 920px) {
  .section-form-order p {
    width: 68%;
  }
}
.close {
  float: right;
  font-size: 3rem;
  font-weight: 100;
  color: #707070;
  text-align: right;
  margin-top: -20px;
  @include media-breakpoint-up (lg){
    margin-top: -40px;
    margin-right: -15px;
  }
}
button:focus {
  outline: none;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
#button {
  bottom: 80px;
  right: 10px;
  position: fixed;
  transition: background-color .3s,opacity .5s,visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  @include media-breakpoint-up (md){
    right: 70px;
  }
}


