
<footer class="footer">
    <div class="footer-mob d-block d-lg-none container">
        <ul class="tell">
            <li><a href="tel:380445016922">+38 (044) 501-69-22</a></li>
            <li><a href="tel:380445373246">+38 (044) 537-32-46</a></li>
        </ul>
        <ul class="button-group-footer">
            <li><a href="catalog.html">Каталог товарів</a></li>
            <li><a href="#">Мій кабінет</a></li>
            <li><a href="#">Як зробити замовлення</a></li>
            <li><a href="#">Доставка та оплата</a></li>
        </ul>
    </div>
    <ul class="social">
        <li class="social-item">
            <a href="#">
                <i class="icon icon-instagram"></i>
            </a>
        </li>
        <li class="social-item">
            <a href="#">
                <i class="icon icon-facebook"></i>
            </a>
        </li>
    </ul>
    <div class="copy d-none d-lg-block">2020</div>
</footer>
