.main-price .title-section-img {
  margin-bottom: 0;
}
.main-price .top-text-center {
  font-size: 14px;
  text-align: center;
  color: #292929;
  font-weight: 300;
  letter-spacing: 0.87px;
}
.main-price .list-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.main-price .list-product .item-product {
  width: 100%;
  max-width: 375px;
  padding-top: 25px;
}
.main-price .list-product .item-product:first-child {
  padding-top: 0;
}
.main-price .list-product .item-product .block {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  height: 290px;
  display: flex;
  flex-direction: column;
}
.main-price .list-product .item-product .block img {
  width: 100%;
  max-height: 185px;
  filter: grayscale(100%);
}
.main-price .list-product .item-product .block .info-product {
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.main-price .list-product .item-product .block .info-product .name-product {
  font-size: 16px;
  font-weight: 600;
}
.main-price .list-product .item-product .block .info-product .type-product {
  font-size: 16px;
  font-weight: 400;
}
.main-price .list-product .item-product .block .block-more {
  text-align: right;
}
.main-price .list-product .item-product .block .block-more .more {
  font-size: 14px;
  font-weight: 700;
}
.main-price .list-product .item-product a:hover {
  color: #2ecc71;
}

@media (min-width: 550px) {
  .main-price .list-product .item-product {
    padding-top: 0;
    width: 50%;
  }
  .main-price .list-product .item-product .block {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    margin: 13px;
  }
}
@media (min-width: 1200px) {
  .main-price .top-text-center {
    font-size: 22px;
  }
  .main-price .list-product {
    justify-content: start;
  }
  .main-price .list-product .item-product {
    width: 33%;
    padding-top: 0;
  }
  .main-price .list-product .item-product .block {
    overflow: hidden;
  }
  .main-price .list-product .item-product .block .info-product {
    margin-bottom: -13%;
  }
  .main-price .list-product .item-product .block .info-product .name-product {
    font-size: 20px;
  }
  .main-price .list-product .item-product .block .info-product .type-product {
    font-size: 20px;
  }
  .main-price .list-product .item-product .block img,
.main-price .list-product .item-product .block .info-product {
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .main-price .list-product .item-product:hover img {
    filter: grayscale(0);
  }
  .main-price .list-product .item-product:hover img, .main-price .list-product .item-product:hover .info-product {
    transform: translateY(-20%);
  }
  .main-price .list-product .item-product:hover .more {
    display: block;
    color: #2ecc71;
  }
}

/*# sourceMappingURL=page-price.css.map */
